<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>

  <!-- Parameters used by tests at runtime -->  
  <TestRunParameters>
    <Parameter name="SiteUrl" value="https://www.amazon.in/"/>
    <Parameter name="UserId" value="9145350684"/>
    <Parameter name="Password" value="7597686051@yl"/>
    <Parameter name="ItemName" value="Mobile"/>
    <Parameter name="Keyword" value="Samsung"/>
    <Parameter name="ScreenshotPath" value="D:\Screenshots"/>
  </TestRunParameters>  
 
</RunSettings>